/* Componente: About Carousel (.u-section-3) */

.u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 744px;
}

.u-section-3 .u-shape-1 {
  width: 331px;
  height: 625px;
  background-image: none;
  margin: 59px 338px 0 471px;
}

.u-section-3 .u-image-1 {
  width: 700px;
  height: 475px;
  margin: -522px 81px 0 auto;
}

.u-section-3 .u-slider-1 {
  min-height: 504px;
  width: 471px;
  height: auto;
  margin: -542px auto 144px 45px;
}

.u-section-3 .u-carousel-indicators-1 {
  position: absolute;
  width: auto;
  height: auto;
  top: auto;
  bottom: 40px;
}

.u-section-3 .u-carousel-item-1 {
  background-image: none;
}

.u-section-3 .u-container-layout-1 {
  padding: 40px 60px 45px 70px;
}

.u-section-3 .u-text-1 {
  font-size: 2.25rem;
  font-family: Montserrat, sans-serif;
  font-weight: 600;
  margin: 103px 43px 0 0;
}

.u-section-3 .u-text-2 {
  margin: 10px 0 0;
}

.u-section-3 .u-carousel-item-2 {
  background-image: none;
}

.u-section-3 .u-container-layout-2 {
  padding: 40px 60px 45px 70px;
}

.u-section-3 .u-text-3 {
  font-weight: 600;
  font-family: Montserrat, sans-serif;
  font-size: 2.25rem;
  margin: 0 43px 0 0;
}

.u-section-3 .u-text-4 {
  margin: 20px 0 0;
}

.u-section-3 .u-carousel-control-1 {
  width: 43px;
  height: 43px;
  left: 0;
  position: absolute;
  background-image: none;
  right: auto;
}

.u-section-3 .u-carousel-control-2 {
  width: 43px;
  height: 43px;
  left: auto;
  position: absolute;
  background-image: none;
  right: 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-shape-1 {
    width: 273px;
    margin-right: 238px;
    margin-left: 371px;
  }

  .u-section-3 .u-image-1 {
    width: 577px;
  }

  .u-section-3 .u-slider-1 {
    width: 388px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 45px;
    padding-right: 45px;
  }

  .u-section-3 .u-text-1 {
    font-size: 1.875rem;
    margin-right: 0;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 45px;
    padding-right: 45px;
  }

  .u-section-3 .u-text-3 {
    font-size: 1.875rem;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 827px;
  }

  .u-section-3 .u-shape-1 {
    height: 707px;
    margin-top: 46px;
    margin-right: 186px;
    margin-left: 261px;
  }

  .u-section-3 .u-image-1 {
    margin-right: 0;
  }

  .u-section-3 .u-slider-1 {
    margin-bottom: 131px;
    margin-left: 0;
  }

  .u-section-3 .u-container-layout-1 {
    padding: 30px 40px;
  }

  .u-section-3 .u-container-layout-2 {
    padding: 30px 40px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 691px;
  }

  .u-section-3 .u-shape-1 {
    height: 589px;
    margin-top: 51px;
    margin-right: 96px;
    margin-left: 171px;
  }

  .u-section-3 .u-image-1 {
    height: 408px;
    width: 480px;
    margin-right: -22px;
  }

  .u-section-3 .u-slider-1 {
    margin-top: -432px;
    margin-bottom: 60px;
    margin-left: -23px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-3 .u-text-3 {
    width: auto;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 999px;
  }

  .u-section-3 .u-shape-1 {
    width: 255px;
    height: 583px;
    margin-top: 56px;
    margin-right: 76px;
    margin-left: 9px;
  }

  .u-section-3 .u-image-1 {
    width: 340px;
    height: 289px;
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-3 .u-slider-1 {
    min-height: 510px;
    width: 304px;
    margin: 27px 0 56px auto;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 25px;
    padding-right: 25px;
  }

  .u-section-3 .u-text-1 {
    font-size: 1.5rem;
    width: auto;
    margin-top: 90px;
    margin-right: 5px;
  }

  .u-section-3 .u-text-2 {
    width: auto;
    margin-top: 58px;
    margin-left: 3px;
    margin-right: 3px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 25px;
  }

  .u-section-3 .u-text-3 {
    font-size: 1.5rem;
    margin-top: 22px;
  }

  .u-section-3 .u-text-4 {
    width: auto;
    margin-top: 24px;
    margin-bottom: -50px;
  }

  .u-section-3 .u-carousel-control-1 {
    left: 18px;
  }

  .u-section-3 .u-carousel-control-2 {
    top: 18px;
    right: 18px;
  }
}
