/* Componente: CTA (.u-section-5) */

.u-section-5 .u-sheet-1 {
  min-height: 300px;
}

.u-section-5 .u-text-1 {
  width: 604px;
  margin: 60px auto 0;
}

.u-section-5 .u-group-1 {
  width: 502px;
  min-height: 80px;
  height: auto;
  margin: 4px auto 60px;
}

.u-section-5 .u-container-layout-1 {
  padding-left: 30px;
  padding-right: 30px;
}

.u-section-5 .u-btn-1 {
  font-size: 1rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  background-image: none;
  margin: 0 auto;
  padding: 2px 21px 3px 20px;
}

.u-section-5 .u-icon-1 {
  font-size: 2em;
  margin-right: 6px;
  vertical-align: -5px;
}

@media (max-width: 1199px) {
  .u-section-5 .u-group-1 {
    height: auto;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-text-1 {
    width: 540px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-text-1 {
    width: 340px;
  }

  .u-section-5 .u-group-1 {
    width: 340px;
  }
}
