/* Componente: Partners (.u-section-7) */

.u-section-7 .u-sheet-1 {
  min-height: 633px;
}

.u-section-7 .u-text-1 {
  font-size: 1.875rem;
  font-weight: 700;
  margin: 80px auto 0;
}

.u-section-7 .u-list-1 {
  margin: 50px 0 60px;
}

.u-section-7 .u-repeater-1 {
  grid-template-columns: repeat(3, calc(33.3333% - 20px));
  min-height: 390px;
  grid-auto-columns: calc(33.3333% - 20px);
  --gap: 30px;
}

.u-section-7 .u-list-item-1 {
  background-image: none;
}

.u-section-7 .u-container-layout-1 {
  padding: 10px;
}

.u-section-7 .u-image-1 {
  height: 97px;
  width: 150px;
  margin: 0 auto;
}

.u-section-7 .u-list-item-2 {
  background-image: none;
}

.u-section-7 .u-container-layout-2 {
  padding: 10px;
}

.u-section-7 .u-image-2 {
  height: 97px;
  width: 150px;
  margin: 0 auto;
}

.u-section-7 .u-list-item-3 {
  background-image: none;
}

.u-section-7 .u-container-layout-3 {
  padding: 10px;
}

.u-section-7 .u-image-3 {
  height: 97px;
  width: 150px;
  margin: 0 auto;
}

.u-section-7 .u-list-item-4 {
  background-image: none;
}

.u-section-7 .u-container-layout-4 {
  padding: 10px;
}

.u-section-7 .u-image-4 {
  height: 97px;
  width: 150px;
  margin: 0 auto;
}

.u-section-7 .u-list-item-5 {
  background-image: none;
}

.u-section-7 .u-container-layout-5 {
  padding: 10px;
}

.u-section-7 .u-image-5 {
  height: 97px;
  width: 150px;
  margin: 0 auto;
}

.u-section-7 .u-list-item-6 {
  background-image: none;
}

.u-section-7 .u-container-layout-6 {
  padding: 10px;
}

.u-section-7 .u-image-6 {
  height: 97px;
  width: 150px;
  margin: 0 auto;
}

@media (max-width: 1199px) {
  .u-section-7 .u-sheet-1 {
    min-height: 566px;
  }

  .u-section-7 .u-list-1 {
    margin-bottom: 73px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-7 .u-repeater-1 {
    grid-template-columns: repeat(3, calc(33.333333333333336% - 20px));
    min-height: 322px;
    grid-auto-columns: calc(33.333333333333336% - 20px);
    grid-gap: 30px;
  }
}

@media (max-width: 991px) {
  .u-section-7 .u-sheet-1 {
    min-height: 820px;
  }

  .u-section-7 .u-list-1 {
    margin-bottom: 73px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-7 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 15px));
    min-height: 555px;
    grid-auto-columns: calc(50% - 15px);
  }
}

@media (max-width: 767px) {
  .u-section-7 .u-sheet-1 {
    min-height: 573px;
  }

  .u-section-7 .u-list-1 {
    margin-bottom: 80px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-7 .u-repeater-1 {
    grid-template-columns: 100%;
    grid-auto-columns: calc(100% - 0px);
  }
}

@media (max-width: 575px) {
  .u-section-7 .u-text-1 {
    font-size: 1.5rem;
  }

  .u-section-7 .u-repeater-1 {
    grid-auto-columns: 100%;
  }
}
