/* Componente: Services (.u-section-2) */

.u-section-2 {
  background-image: none;
  min-height: 944px;
}

.u-section-2 .u-group-1 {
  height: auto;
  min-height: 228px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-container-layout-1 {
  padding: 0 30px;
}

.u-section-2 .u-list-1 {
  width: 929px;
  margin: -168px auto 60px;
}

.u-section-2 .u-repeater-1 {
  grid-auto-columns: calc(33.3333% - 6.66667px);
  grid-template-columns: repeat(3, calc(33.3333% - 6.66667px));
  min-height: 824px;
  grid-gap: 10px;
}

.u-section-2 .u-list-item-1 {
  background-image: none;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px;
}

.u-section-2 .u-icon-1 {
  height: 73px;
  width: 73px;
  background-image: none;
  margin: 0 auto 0 0;
  padding: 17px;
}

.u-section-2 .u-text-1 {
  font-size: 1.25rem;
  font-weight: 600;
  margin: 16px 0 0;
}

.u-section-2 .u-text-2 {
  line-height: 1.4;
  font-size: 0.9375rem;
  font-style: italic;
  margin: 0;
}

.u-section-2 .u-container-layout-3 {
  padding: 30px;
}

.u-section-2 .u-icon-2 {
  height: 73px;
  width: 73px;
  background-image: none;
  margin: 0 auto 0 0;
  padding: 17px;
}

.u-section-2 .u-text-3 {
  font-size: 1.25rem;
  font-weight: 600;
  margin: 16px 0 0;
}

.u-section-2 .u-text-4 {
  line-height: 1.4;
  font-size: 0.9375rem;
  font-style: italic;
  margin: 0;
}

.u-section-2 .u-container-layout-4 {
  padding: 30px;
}

.u-section-2 .u-icon-3 {
  height: 73px;
  width: 73px;
  background-image: none;
  margin: 0 auto 0 0;
  padding: 17px;
}

.u-section-2 .u-text-5 {
  font-size: 1.25rem;
  font-weight: 600;
  margin: 16px 0 0;
}

.u-section-2 .u-text-6 {
  line-height: 1.4;
  font-size: 0.9375rem;
  font-style: italic;
  margin: 0;
}

.u-section-2 .u-container-layout-5 {
  padding: 30px;
}

.u-section-2 .u-icon-4 {
  height: 73px;
  width: 73px;
  background-image: none;
  margin: 0 auto 0 0;
  padding: 17px;
}

.u-section-2 .u-text-7 {
  font-size: 1.25rem;
  font-weight: 600;
  margin: 16px 0 0;
}

.u-section-2 .u-text-8 {
  line-height: 1.4;
  font-size: 0.9375rem;
  font-style: italic;
  margin: 0;
}

.u-section-2 .u-container-layout-6 {
  padding: 30px;
}

.u-section-2 .u-icon-5 {
  height: 73px;
  width: 73px;
  background-image: none;
  margin: 0 auto 0 0;
  padding: 17px;
}

.u-section-2 .u-text-9 {
  font-size: 1.25rem;
  font-weight: 600;
  margin: 16px 0 0;
}

.u-section-2 .u-text-10 {
  line-height: 1.4;
  font-size: 0.9375rem;
  font-style: italic;
  margin: 0;
}

.u-section-2 .u-container-layout-7 {
  padding: 30px;
}

.u-section-2 .u-icon-6 {
  height: 73px;
  width: 73px;
  background-image: none;
  margin: 0 auto 0 0;
  padding: 17px;
}

.u-section-2 .u-text-11 {
  font-size: 1.25rem;
  font-weight: 600;
  margin: 16px 0 0;
}

.u-section-2 .u-text-12 {
  line-height: 1.4;
  font-size: 0.9375rem;
  font-style: italic;
  margin: 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-group-1 {
    height: auto;
  }

  .u-section-2 .u-repeater-1 {
    grid-auto-columns: calc(33.333333333333336% - 6.66667px);
    grid-template-columns: repeat(3, calc(33.333333333333336% - 6.66667px));
    min-height: 798px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-list-1 {
    width: 720px;
  }

  .u-section-2 .u-repeater-1 {
    grid-auto-columns: calc(50% - 5px);
    grid-template-columns: repeat(2, calc(50% - 5px));
    min-height: 983px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-bottom: 21px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-bottom: 24px;
  }

  .u-section-2 .u-container-layout-4 {
    padding-bottom: 21px;
  }

  .u-section-2 .u-container-layout-7 {
    padding-bottom: 21px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-list-1 {
    width: 540px;
  }

  .u-section-2 .u-repeater-1 {
    grid-auto-columns: calc(100% - 0px);
    grid-template-columns: 100%;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-2 .u-container-layout-4 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-2 .u-container-layout-5 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-2 .u-container-layout-6 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-2 .u-container-layout-7 {
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media (max-width: 575px) {
  .u-section-2 {
    min-height: 2294px;
  }

  .u-section-2 .u-list-1 {
    width: 340px;
  }

  .u-section-2 .u-repeater-1 {
    grid-auto-columns: 100%;
    grid-template-columns: repeat(1, 100%);
    min-height: 2174px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-2 .u-container-layout-4 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-2 .u-container-layout-5 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-2 .u-container-layout-6 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-2 .u-container-layout-7 {
    padding-left: 30px;
    padding-right: 30px;
  }
}
