.u-section-1 {
  background-image:
    linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("images/backgrounds/748493f83d3d6662b5f20686347e95fd3cd4cf9a447b18decbf387a02c662c2e39bc55efe636720c269bd50a96cf30d221bda470a768e5b521ff38_1280.jpg");
  background-position:
    50% 28.6%,
    50% 28.6%;
  background-size: cover, cover;
}

.u-section-1 .u-sheet-1 {
  min-height: 677px;
}

.u-section-1 .u-text-1 {
  margin: 402px 76px 0 498px;
}

.u-section-1 .u-text-2 {
  margin: 0 76px 41px 498px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 558px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 0;
    margin-left: 374px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 0;
    margin-left: 374px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 427px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 154px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 154px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 320px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 0;
  }

  .u-section-1 .u-text-2 {
    margin-left: 0;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 201px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: 316px;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-top: 12px;
    margin-bottom: 45px;
  }
}
.u-section-2 {
  background-image: none;
  min-height: 944px;
}

.u-section-2 .u-group-1 {
  height: auto;
  min-height: 228px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-container-layout-1 {
  padding: 0 30px;
}

.u-section-2 .u-list-1 {
  width: 929px;
  margin: -168px auto 60px;
}

.u-section-2 .u-repeater-1 {
  grid-auto-columns: calc(33.3333% - 6.66667px);
  grid-template-columns: repeat(3, calc(33.3333% - 6.66667px));
  min-height: 824px;
  grid-gap: 10px;
}

.u-section-2 .u-list-item-1 {
  background-image: none;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px;
}

.u-section-2 .u-icon-1 {
  height: 73px;
  width: 73px;
  background-image: none;
  margin: 0 auto 0 0;
  padding: 17px;
}

.u-section-2 .u-text-1 {
  font-size: 1.25rem;
  font-weight: 600;
  margin: 16px 0 0;
}

.u-section-2 .u-text-2 {
  line-height: 1.4;
  font-size: 0.9375rem;
  font-style: italic;
  margin: 0;
}

.u-section-2 .u-container-layout-3 {
  padding: 30px;
}

.u-section-2 .u-icon-2 {
  height: 73px;
  width: 73px;
  background-image: none;
  margin: 0 auto 0 0;
  padding: 17px;
}

.u-section-2 .u-text-3 {
  font-size: 1.25rem;
  font-weight: 600;
  margin: 16px 0 0;
}

.u-section-2 .u-text-4 {
  line-height: 1.4;
  font-size: 0.9375rem;
  font-style: italic;
  margin: 0;
}

.u-section-2 .u-container-layout-4 {
  padding: 30px;
}

.u-section-2 .u-icon-3 {
  height: 73px;
  width: 73px;
  background-image: none;
  margin: 0 auto 0 0;
  padding: 17px;
}

.u-section-2 .u-text-5 {
  font-size: 1.25rem;
  font-weight: 600;
  margin: 16px 0 0;
}

.u-section-2 .u-text-6 {
  line-height: 1.4;
  font-size: 0.9375rem;
  font-style: italic;
  margin: 0;
}

.u-section-2 .u-container-layout-5 {
  padding: 30px;
}

.u-section-2 .u-icon-4 {
  height: 73px;
  width: 73px;
  background-image: none;
  margin: 0 auto 0 0;
  padding: 17px;
}

.u-section-2 .u-text-7 {
  font-size: 1.25rem;
  font-weight: 600;
  margin: 16px 0 0;
}

.u-section-2 .u-text-8 {
  line-height: 1.4;
  font-size: 0.9375rem;
  font-style: italic;
  margin: 0;
}

.u-section-2 .u-container-layout-6 {
  padding: 30px;
}

.u-section-2 .u-icon-5 {
  height: 73px;
  width: 73px;
  background-image: none;
  margin: 0 auto 0 0;
  padding: 17px;
}

.u-section-2 .u-text-9 {
  font-size: 1.25rem;
  font-weight: 600;
  margin: 16px 0 0;
}

.u-section-2 .u-text-10 {
  line-height: 1.4;
  font-size: 0.9375rem;
  font-style: italic;
  margin: 0;
}

.u-section-2 .u-container-layout-7 {
  padding: 30px;
}

.u-section-2 .u-icon-6 {
  height: 73px;
  width: 73px;
  background-image: none;
  margin: 0 auto 0 0;
  padding: 17px;
}

.u-section-2 .u-text-11 {
  font-size: 1.25rem;
  font-weight: 600;
  margin: 16px 0 0;
}

.u-section-2 .u-text-12 {
  line-height: 1.4;
  font-size: 0.9375rem;
  font-style: italic;
  margin: 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-group-1 {
    height: auto;
  }

  .u-section-2 .u-repeater-1 {
    grid-auto-columns: calc(33.333333333333336% - 6.66667px);
    grid-template-columns: repeat(3, calc(33.333333333333336% - 6.66667px));
    min-height: 798px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-list-1 {
    width: 720px;
  }

  .u-section-2 .u-repeater-1 {
    grid-auto-columns: calc(50% - 5px);
    grid-template-columns: repeat(2, calc(50% - 5px));
    min-height: 983px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-bottom: 21px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-bottom: 24px;
  }

  .u-section-2 .u-container-layout-4 {
    padding-bottom: 21px;
  }

  .u-section-2 .u-container-layout-7 {
    padding-bottom: 21px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-list-1 {
    width: 540px;
  }

  .u-section-2 .u-repeater-1 {
    grid-auto-columns: calc(100% - 0px);
    grid-template-columns: 100%;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-2 .u-container-layout-4 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-2 .u-container-layout-5 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-2 .u-container-layout-6 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-2 .u-container-layout-7 {
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media (max-width: 575px) {
  .u-section-2 {
    min-height: 2294px;
  }

  .u-section-2 .u-list-1 {
    width: 340px;
  }

  .u-section-2 .u-repeater-1 {
    grid-auto-columns: 100%;
    grid-template-columns: repeat(1, 100%);
    min-height: 2174px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-2 .u-container-layout-4 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-2 .u-container-layout-5 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-2 .u-container-layout-6 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-2 .u-container-layout-7 {
    padding-left: 30px;
    padding-right: 30px;
  }
}
.u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 744px;
}

.u-section-3 .u-shape-1 {
  width: 331px;
  height: 625px;
  background-image: none;
  margin: 59px 338px 0 471px;
}

.u-section-3 .u-image-1 {
  width: 700px;
  height: 475px;
  margin: -522px 81px 0 auto;
}

.u-section-3 .u-slider-1 {
  min-height: 504px;
  width: 471px;
  height: auto;
  margin: -542px auto 144px 45px;
}

.u-section-3 .u-carousel-indicators-1 {
  position: absolute;
  width: auto;
  height: auto;
  top: auto;
  bottom: 40px;
}

.u-section-3 .u-carousel-item-1 {
  background-image: none;
}

.u-section-3 .u-container-layout-1 {
  padding: 40px 60px 45px 70px;
}

.u-section-3 .u-text-1 {
  font-size: 2.25rem;
  font-family: Montserrat, sans-serif;
  font-weight: 600;
  margin: 103px 43px 0 0;
}

.u-section-3 .u-text-2 {
  margin: 10px 0 0;
}

.u-section-3 .u-carousel-item-2 {
  background-image: none;
}

.u-section-3 .u-container-layout-2 {
  padding: 40px 60px 45px 70px;
}

.u-section-3 .u-text-3 {
  font-weight: 600;
  font-family: Montserrat, sans-serif;
  font-size: 2.25rem;
  margin: 0 43px 0 0;
}

.u-section-3 .u-text-4 {
  margin: 20px 0 0;
}

.u-section-3 .u-carousel-control-1 {
  width: 43px;
  height: 43px;
  left: 0;
  position: absolute;
  background-image: none;
  right: auto;
}

.u-section-3 .u-carousel-control-2 {
  width: 43px;
  height: 43px;
  left: auto;
  position: absolute;
  background-image: none;
  right: 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-shape-1 {
    width: 273px;
    margin-right: 238px;
    margin-left: 371px;
  }

  .u-section-3 .u-image-1 {
    width: 577px;
  }

  .u-section-3 .u-slider-1 {
    width: 388px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 45px;
    padding-right: 45px;
  }

  .u-section-3 .u-text-1 {
    font-size: 1.875rem;
    margin-right: 0;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 45px;
    padding-right: 45px;
  }

  .u-section-3 .u-text-3 {
    font-size: 1.875rem;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 827px;
  }

  .u-section-3 .u-shape-1 {
    height: 707px;
    margin-top: 46px;
    margin-right: 186px;
    margin-left: 261px;
  }

  .u-section-3 .u-image-1 {
    margin-right: 0;
  }

  .u-section-3 .u-slider-1 {
    margin-bottom: 131px;
    margin-left: 0;
  }

  .u-section-3 .u-container-layout-1 {
    padding: 30px 40px;
  }

  .u-section-3 .u-container-layout-2 {
    padding: 30px 40px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 691px;
  }

  .u-section-3 .u-shape-1 {
    height: 589px;
    margin-top: 51px;
    margin-right: 96px;
    margin-left: 171px;
  }

  .u-section-3 .u-image-1 {
    height: 408px;
    width: 480px;
    margin-right: -22px;
  }

  .u-section-3 .u-slider-1 {
    margin-top: -432px;
    margin-bottom: 60px;
    margin-left: -23px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-3 .u-text-3 {
    width: auto;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 999px;
  }

  .u-section-3 .u-shape-1 {
    width: 255px;
    height: 583px;
    margin-top: 56px;
    margin-right: 76px;
    margin-left: 9px;
  }

  .u-section-3 .u-image-1 {
    width: 340px;
    height: 289px;
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-3 .u-slider-1 {
    min-height: 510px;
    width: 304px;
    margin: 27px 0 56px auto;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 25px;
    padding-right: 25px;
  }

  .u-section-3 .u-text-1 {
    font-size: 1.5rem;
    width: auto;
    margin-top: 90px;
    margin-right: 5px;
  }

  .u-section-3 .u-text-2 {
    width: auto;
    margin-top: 58px;
    margin-left: 3px;
    margin-right: 3px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 25px;
  }

  .u-section-3 .u-text-3 {
    font-size: 1.5rem;
    margin-top: 22px;
  }

  .u-section-3 .u-text-4 {
    width: auto;
    margin-top: 24px;
    margin-bottom: -50px;
  }

  .u-section-3 .u-carousel-control-1 {
    left: 18px;
  }

  .u-section-3 .u-carousel-control-2 {
    top: 18px;
    right: 18px;
  }
}
.u-section-4 .u-sheet-1 {
  min-height: 1068px;
}

.u-section-4 .u-shape-1 {
  width: 744px;
  height: 971px;
  margin: 61px auto 0;
}

.u-section-4 .u-layout-wrap-1 {
  margin-top: -956px;
  margin-bottom: 0;
}

.u-section-4 .u-layout-cell-1 {
  min-height: 618px;
}

.u-section-4 .u-container-layout-1 {
  padding: 30px 24px;
}

.u-section-4 .u-image-1 {
  width: 459px;
  height: 459px;
  background-image: url("images/photos/WhatsAppImage2025-02-02at17.08.20_dfd1ac38.jpg");
  background-position: 50% 50%;
  margin: 0 0 0 auto;
}

.u-section-4 .u-layout-cell-2 {
  min-height: 618px;
}

.u-section-4 .u-container-layout-2 {
  padding: 30px;
}

.u-section-4 .u-text-1 {
  font-weight: 600;
  margin: 20px 0 0;
}

.u-section-4 .u-text-2 {
  margin: 20px 207px 0 2px;
}

.u-section-4 .u-list-1 {
  margin-top: 0;
  margin-bottom: 60px;
}

.u-section-4 .u-repeater-1 {
  grid-template-columns: repeat(3, calc(33.3333% - 13.3333px));
  min-height: 304px;
  grid-gap: 20px;
}

.u-section-4 .u-container-layout-3 {
  padding: 30px;
}

.u-section-4 .u-text-3 {
  font-weight: 600;
  margin: 8px 0 0;
}

.u-section-4 .u-text-4 {
  line-height: 1.8;
  font-weight: 400;
  margin: 2px 0 0;
}

.u-section-4 .u-container-layout-4 {
  padding: 30px;
}

.u-section-4 .u-text-5 {
  font-weight: 600;
  font-size: 1.5rem;
  margin: 8px 0 0;
}

.u-section-4 .u-text-6 {
  line-height: 1.8;
  font-weight: 400;
  margin: 2px 0 0;
}

.u-section-4 .u-container-layout-5 {
  padding: 30px;
}

.u-section-4 .u-text-7 {
  font-weight: 600;
  font-size: 1.5rem;
  margin: 8px 0 0;
}

.u-section-4 .u-text-8 {
  line-height: 1.8;
  font-weight: 400;
  margin: 2px 0 0;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1158px;
  }

  .u-section-4 .u-shape-1 {
    height: 1057px;
  }

  .u-section-4 .u-layout-wrap-1 {
    margin-top: -1042px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 510px;
  }

  .u-section-4 .u-image-1 {
    width: 410px;
    height: 410px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 510px;
  }

  .u-section-4 .u-text-2 {
    margin-right: 99px;
    margin-left: 0;
  }

  .u-section-4 .u-repeater-1 {
    grid-template-columns: repeat(3, calc(33.333333333333336% - 13.3333px));
    min-height: 249px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1438px;
  }

  .u-section-4 .u-shape-1 {
    height: 1341px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-4 .u-layout-wrap-1 {
    margin-top: -1326px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 391px;
  }

  .u-section-4 .u-image-1 {
    width: 300px;
    height: 300px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-4 .u-text-2 {
    margin-right: 0;
  }

  .u-section-4 .u-list-1 {
    width: 544px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-4 .u-repeater-1 {
    grid-template-columns: repeat(1, 100%);
    min-height: 623px;
    grid-auto-columns: 100%;
  }

  .u-section-4 .u-container-layout-3 {
    padding-top: 14px;
    padding-bottom: 12px;
  }

  .u-section-4 .u-text-4 {
    width: auto;
  }

  .u-section-4 .u-container-layout-4 {
    padding-top: 14px;
    padding-bottom: 12px;
  }

  .u-section-4 .u-text-6 {
    width: auto;
  }

  .u-section-4 .u-container-layout-5 {
    padding-top: 14px;
    padding-bottom: 12px;
  }

  .u-section-4 .u-text-8 {
    width: auto;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1684px;
  }

  .u-section-4 .u-shape-1 {
    height: 1589px;
    margin-top: 55px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-layout-wrap-1 {
    margin-top: -1568px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 360px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-image-1 {
    margin-right: auto;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 450px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 53px;
    padding-right: 53px;
  }

  .u-section-4 .u-text-1 {
    width: auto;
    margin-top: 0;
  }

  .u-section-4 .u-text-2 {
    width: auto;
  }

  .u-section-4 .u-list-1 {
    width: 434px;
  }

  .u-section-4 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-4 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 2024px;
  }

  .u-section-4 .u-shape-1 {
    height: 1938px;
    margin-top: 57px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-layout-wrap-1 {
    margin-top: -1973px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .u-section-4 .u-image-1 {
    margin-top: 60px;
    margin-bottom: -30px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 656px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 23px;
    padding-right: 23px;
  }

  .u-section-4 .u-list-1 {
    width: 282px;
    margin-bottom: 55px;
  }

  .u-section-4 .u-repeater-1 {
    min-height: 781px;
  }
}
.u-section-5 .u-sheet-1 {
  min-height: 300px;
}

.u-section-5 .u-text-1 {
  width: 604px;
  margin: 60px auto 0;
}

.u-section-5 .u-group-1 {
  width: 502px;
  min-height: 80px;
  height: auto;
  margin: 4px auto 60px;
}

.u-section-5 .u-container-layout-1 {
  padding-left: 30px;
  padding-right: 30px;
}

.u-section-5 .u-btn-1 {
  font-size: 1rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  background-image: none;
  margin: 0 auto;
  padding: 2px 21px 3px 20px;
}

.u-section-5 .u-icon-1 {
  font-size: 2em;
  margin-right: 6px;
  vertical-align: -5px;
}

@media (max-width: 1199px) {
  .u-section-5 .u-group-1 {
    height: auto;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-text-1 {
    width: 540px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-text-1 {
    width: 340px;
  }

  .u-section-5 .u-group-1 {
    width: 340px;
  }
}
.u-section-6 .u-sheet-1 {
  min-height: 44px;
}

@media (max-width: 991px) {
  .u-section-6 .u-sheet-1 {
    min-height: 35px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-text-1 {
    width: 340px;
  }

  .u-section-5 .u-group-1 {
    width: 340px;
  }
}
.u-section-7 .u-sheet-1 {
  min-height: 633px;
}

.u-section-7 .u-text-1 {
  font-size: 1.875rem;
  font-weight: 700;
  margin: 80px auto 0;
}

.u-section-7 .u-list-1 {
  margin: 50px 0 60px;
}

.u-section-7 .u-repeater-1 {
  grid-template-columns: repeat(3, calc(33.3333% - 20px));
  min-height: 390px;
  grid-auto-columns: calc(33.3333% - 20px);
  --gap: 30px;
}

.u-section-7 .u-list-item-1 {
  background-image: none;
}

.u-section-7 .u-container-layout-1 {
  padding: 10px;
}

.u-section-7 .u-image-1 {
  height: 97px;
  width: 150px;
  margin: 0 auto;
}

.u-section-7 .u-list-item-2 {
  background-image: none;
}

.u-section-7 .u-container-layout-2 {
  padding: 10px;
}

.u-section-7 .u-image-2 {
  height: 97px;
  width: 150px;
  margin: 0 auto;
}

.u-section-7 .u-list-item-3 {
  background-image: none;
}

.u-section-7 .u-container-layout-3 {
  padding: 10px;
}

.u-section-7 .u-image-3 {
  height: 97px;
  width: 150px;
  margin: 0 auto;
}

.u-section-7 .u-list-item-4 {
  background-image: none;
}

.u-section-7 .u-container-layout-4 {
  padding: 10px;
}

.u-section-7 .u-image-4 {
  height: 97px;
  width: 150px;
  margin: 0 auto;
}

.u-section-7 .u-list-item-5 {
  background-image: none;
}

.u-section-7 .u-container-layout-5 {
  padding: 10px;
}

.u-section-7 .u-image-5 {
  height: 97px;
  width: 150px;
  margin: 0 auto;
}

.u-section-7 .u-list-item-6 {
  background-image: none;
}

.u-section-7 .u-container-layout-6 {
  padding: 10px;
}

.u-section-7 .u-image-6 {
  height: 97px;
  width: 150px;
  margin: 0 auto;
}

@media (max-width: 1199px) {
  .u-section-7 .u-sheet-1 {
    min-height: 566px;
  }

  .u-section-7 .u-list-1 {
    margin-bottom: -7px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-7 .u-repeater-1 {
    grid-template-columns: repeat(3, calc(33.333333333333336% - 20px));
    min-height: 322px;
    grid-auto-columns: calc(33.333333333333336% - 20px);
    grid-gap: 30px;
  }
}

@media (max-width: 991px) {
  .u-section-7 .u-sheet-1 {
    min-height: 820px;
  }

  .u-section-7 .u-list-1 {
    margin-bottom: 73px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-7 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 15px));
    min-height: 555px;
    grid-auto-columns: calc(50% - 15px);
  }
}

@media (max-width: 767px) {
  .u-section-7 .u-sheet-1 {
    min-height: 573px;
  }

  .u-section-7 .u-list-1 {
    margin-bottom: 80px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-7 .u-repeater-1 {
    grid-template-columns: 100%;
    grid-auto-columns: calc(100% - 0px);
  }
}

@media (max-width: 575px) {
  .u-section-7 .u-text-1 {
    font-size: 1.5rem;
  }

  .u-section-7 .u-repeater-1 {
    grid-auto-columns: 100%;
  }
}
