/*
 * Arquivo CSS principal.
 * Ordem de importação:
 * 1) Configurações (tokens/variáveis)
 * 2) Componentes/Seções da página
 *
 * NOTA: reset.css e base.css foram removidos pois conflitam
 * com as definições do framework Nicepage (nicepage.css).
 * O Nicepage já fornece reset, utilitários (.u-clearfix, .u-sheet, etc.)
 * e estilos base para tipografia e layout.
 */

@import "./settings/variables.css";
@import "./components/header.css";
@import "./components/hero.css";
@import "./components/services.css";
@import "./components/about-carousel.css";
@import "./components/about-details.css";
@import "./components/partners.css";
@import "./components/cta.css";
@import "./components/footer.css";
