/*
 * Arquivo CSS principal.
 * Ordem de importação:
 * 1) Configurações (tokens/variáveis)
 * 2) Estilos globais (reset e base)
 * 3) Componentes/Seções da página
 */

@import "./settings/variables.css";
@import "./global/reset.css";
@import "./global/base.css";
@import "./components/header.css";
@import "./components/hero.css";
@import "./components/services.css";
@import "./components/about-carousel.css";
@import "./components/about-details.css";
@import "./components/partners.css";
@import "./components/cta.css";
@import "./components/footer.css";
