<!-- COMPONENT: about-details -->
<!-- META: description="Seção Sobre nós com 3 cards de valores" -->
<!-- META: section_id="block-1" -->
<section class="u-clearfix u-grey-10 u-section-4" id="block-1">
  <div class="u-clearfix u-sheet u-sheet-1">
    <div
      class="u-expanded-width-md u-expanded-width-sm u-expanded-width-xs u-shape u-shape-rectangle u-white u-shape-1"
    ></div>
    <div
      class="data-layout-selected u-clearfix u-expanded-width u-gutter-0 u-layout-wrap u-layout-wrap-1"
    >
      <div class="u-layout">
        <div class="u-layout-row">
          <div
            class="u-container-style u-layout-cell u-size-27 u-layout-cell-1"
          >
            <div class="u-container-layout u-valign-top u-container-layout-1">
              <div
                class="u-image u-image-circle u-image-1"
                data-image-width="800"
                data-image-height="800"
              ></div>
            </div>
          </div>
          <div
            class="u-container-style u-layout-cell u-size-33 u-layout-cell-2"
          >
            <div class="u-container-layout u-container-layout-2">
              <h1 class="u-align-center-xs u-text u-text-1">Sobre nós</h1>
              <p class="u-align-center-xs u-text u-text-2">
                Acreditamos que o sucesso das organizações nasce do potencial
                humano. Com uma abordagem estratégica e consultiva,
                potencializamos pessoas e organizações, impulsionando o
                desenvolvimento humano por meio de soluções personalizadas e
                transformadoras. <br />
                <br />Nosso compromisso vai além de gerar resultados imediatos;
                buscamos criar soluções estratégicas que garantam a
                sustentabilidade e crescimento contínuo dos negócios,
                posicionando a gestão de pessoas como um pilar essencial para o
                sucesso organizacional.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="u-expanded-width-lg u-expanded-width-xl u-list u-list-1">
      <div class="u-repeater u-repeater-1">
        <div
          class="u-align-left u-container-align-left u-container-style u-custom-item u-list-item u-palette-1-light-1 u-repeater-item u-shape-rectangle"
        >
          <div
            class="u-container-layout u-similar-container u-container-layout-3"
          >
            <h4 class="u-custom-item u-text u-text-default u-text-3">
              Transformação com Propósito
            </h4>
            <p class="u-custom-item u-text u-text-4">
              Acreditamos no potencial humano como catalisador de mudanças,
              inspirando e impulsionando transformações que deixam marcas
              positivas e duradouras.<br style="" />
            </p>
          </div>
        </div>
        <div
          class="u-align-left u-container-align-left u-container-style u-custom-item u-list-item u-palette-1-light-3 u-repeater-item u-shape-rectangle"
        >
          <div
            class="u-container-layout u-similar-container u-container-layout-4"
          >
            <h4 class="u-custom-item u-text u-text-default u-text-5">
              Conexões que inspiram
            </h4>
            <p class="u-custom-item u-text u-text-palette-1-base u-text-6">
              Cultivamos relações autênticas e parcerias verdadeiras, guiados
              pela escuta, empatia e compreensão, para criar soluções que
              impulsionam crescimento e realização.<br style="" />
            </p>
          </div>
        </div>
        <div
          class="u-align-left u-container-align-left u-container-style u-custom-item u-list-item u-palette-1-base u-repeater-item u-shape-rectangle"
        >
          <div
            class="u-container-layout u-similar-container u-container-layout-5"
          >
            <h4 class="u-custom-item u-text u-text-default u-text-7">
              Impacto Sustentável
            </h4>
            <p class="u-custom-item u-text u-text-8">
              Equilibramos resultados e o cuidado com as pessoas, promovendo
              inovação e ações que transformam desafios em legados positivos,
              contribuindo para um futuro próspero e sustentável.<br style="" />
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
