<!-- COMPONENT: cta -->
<!-- META: description="Call-to-Action com botão de contato WhatsApp" -->
<!-- META: section_id="block-2" -->
<!-- META: dependencies="images/3781677-5236b077.png (WhatsApp icon)" -->
<section
  class="u-clearfix u-container-align-center u-palette-5-light-3 u-section-5"
  id="block-2"
>
  <div class="u-clearfix u-sheet u-valign-middle u-sheet-1">
    <p class="u-align-center u-text u-text-1">
      <span style="font-size: 1.5rem">
        <span style="font-weight: 700"
          >Vamos juntos transformar sua organização?
        </span>
      </span>
      <br />Conecte-se conosco e descubra como podemos ajudar a fortalecer sua
      cultura, engajar suas equipes e alcançar resultados extraordinários.&nbsp;
    </p>
    <div
      class="custom-expanded u-container-align-center u-container-style u-group u-shape-rectangle u-group-1"
    >
      <div class="u-container-layout u-valign-middle u-container-layout-1">
        <a
          href="https://api.whatsapp.com/send/?phone=5547991443844"
          class="u-active-black u-align-center u-border-none u-btn u-btn-round u-button-style u-hover-black u-palette-1-base u-radius-50 u-text-active-white u-text-body-alt-color u-text-hover-white u-btn-1"
          target="_blank"
        >
          <span class="u-file-icon u-icon u-text-grey-10 u-icon-1"
            ><img src="images/icons/3781677-5236b077.png" alt="" /></span
          >&nbsp;ENTRE EM CONTATO
        </a>
      </div>
    </div>
  </div>
</section>
