<!-- COMPONENT: hero -->
<!-- META: description="Seção principal com título e slogan" -->
<!-- META: section_id="sec-2e86" -->

<section
  class="u-clearfix u-image u-shading u-section-1"
  id="sec-2e86"
  data-image-width="1280"
  data-image-height="848"
>
  <div class="u-clearfix u-sheet u-sheet-1">
    <h2 class="u-align-right u-text u-text-1">
      <span style="font-weight: 700">Conexões </span>que inspiram, organizações
      que se <span style="font-weight: 700">transformam</span>!
    </h2>
    <p class="u-align-right u-text u-text-2">
      Potencializamos pessoas e organizações, impulsionando o desenvolvimento
      humano por meio de soluções personalizadas e transformadoras, criando
      soluções estratégicas e gerando resultados sustentáveis.
    </p>
  </div>
</section>
