<!-- COMPONENT: partners -->
<!-- META: description="Grade de logos de parceiros (9 empresas)" -->
<!-- META: section_id="sec-92a9" -->
<!-- META: dependencies="9 logos de parceiros" -->

<section
  class="u-align-center u-clearfix u-container-align-center u-section-7"
  id="sec-92a9"
>
  <div class="u-clearfix u-sheet u-sheet-1">
    <h2 class="u-custom-font u-font-montserrat u-text u-text-default u-text-1">
      Alianças que Transformam
    </h2>
    <div class="u-expanded-width u-list u-list-1">
      <div class="u-repeater u-repeater-1">
        <div
          class="u-align-center u-container-align-center u-container-style u-grey-5 u-list-item u-repeater-item u-list-item-1"
        >
          <div
            class="u-container-layout u-similar-container u-valign-middle u-container-layout-1"
          >
            <img
              class="u-image u-image-contain u-image-default u-preserve-proportions u-image-1"
              src="images/logos/logo_datarunk.png"
              alt=""
              data-image-width="151"
              data-image-height="158"
            />
          </div>
        </div>
        <div
          class="u-align-center u-container-align-center u-container-style u-grey-5 u-list-item u-repeater-item u-list-item-2"
        >
          <div
            class="u-container-layout u-similar-container u-valign-middle u-container-layout-2"
          >
            <img
              class="u-image u-image-contain u-image-default u-preserve-proportions u-image-2"
              src="images/logos/logo_dgsis.png"
              alt=""
              data-image-width="116"
              data-image-height="150"
            />
          </div>
        </div>
        <div
          class="u-align-center u-container-align-center u-container-style u-grey-5 u-list-item u-repeater-item u-list-item-3"
        >
          <div
            class="u-container-layout u-similar-container u-valign-middle u-container-layout-3"
          >
            <img
              class="u-image u-image-contain u-image-default u-preserve-proportions u-image-3"
              src="images/logos/logo_grupo_top.png"
              alt=""
              data-image-width="168"
              data-image-height="156"
            />
          </div>
        </div>
        <div
          class="u-align-center u-container-align-center u-container-style u-grey-5 u-list-item u-repeater-item u-list-item-4"
        >
          <div
            class="u-container-layout u-similar-container u-valign-middle u-container-layout-4"
          >
            <img
              class="u-image u-image-contain u-image-default u-preserve-proportions u-image-4"
              src="images/logos/logo_possibilitar.png"
              alt=""
              data-image-width="1600"
              data-image-height="1600"
            />
          </div>
        </div>
        <div
          class="u-align-center u-container-align-center u-container-style u-grey-5 u-list-item u-repeater-item u-list-item-5"
        >
          <div
            class="u-container-layout u-similar-container u-valign-middle u-container-layout-5"
          >
            <img
              class="u-image u-image-contain u-image-default u-preserve-proportions u-image-5"
              src="images/logos/logo_nuvme.png"
              alt=""
              data-image-width="142"
              data-image-height="155"
            />
          </div>
        </div>
        <div
          class="u-align-center u-container-align-center u-container-style u-grey-5 u-list-item u-repeater-item u-list-item-6"
        >
          <div
            class="u-container-layout u-similar-container u-valign-middle u-container-layout-6"
          >
            <img
              class="u-image u-image-contain u-image-default u-preserve-proportions u-image-6"
              src="images/logos/logo_straas.png"
              alt=""
              data-image-width="131"
              data-image-height="171"
            />
          </div>
        </div>

        <div
          class="u-align-center u-container-align-center u-container-style u-grey-5 u-list-item u-repeater-item u-list-item-7"
        >
          <div
            class="u-container-layout u-similar-container u-valign-middle u-container-layout-6"
          >
            <img
              class="u-image u-image-contain u-image-default u-preserve-proportions u-image-6"
              src="images/logos/logo_colablife.png"
              alt=""
              data-image-width="131"
              data-image-height="171"
            />
          </div>
        </div>

        <div
          class="u-align-center u-container-align-center u-container-style u-grey-5 u-list-item u-repeater-item u-list-item-8"
        >
          <div
            class="u-container-layout u-similar-container u-valign-middle u-container-layout-6"
          >
            <img
              class="u-image u-image-contain u-image-default u-preserve-proportions u-image-6"
              src="images/logos/logo_techlinker.webp"
              alt=""
              data-image-width="131"
              data-image-height="171"
            />
          </div>
        </div>

        <div
          class="u-align-center u-container-align-center u-container-style u-grey-5 u-list-item u-repeater-item u-list-item-9"
        >
          <div
            class="u-container-layout u-similar-container u-valign-middle u-container-layout-6"
          >
            <img
              class="u-image u-image-contain u-image-default u-preserve-proportions u-image-6"
              src="images/logos/logo_mtech.png"
              alt=""
              data-image-width="131"
              data-image-height="171"
            />
          </div>
        </div>
      </div>
    </div>
    <div class="u-partners-spacer"></div>
  </div>
</section>
