<!-- COMPONENT: services -->
<!-- META: description="Grade de 6 serviços oferecidos" -->
<!-- META: section_id="carousel_23e7" -->
<!-- META: dependencies="Múltiplos ícones de serviços" -->
<section
  class="u-align-center u-clearfix u-grey-10 u-section-2"
  id="carousel_23e7"
>
  <div
    class="u-container-style u-expanded-width u-group u-palette-3-dark-2 u-group-1"
  >
    <div class="u-container-layout u-container-layout-1"></div>
  </div>
  <div class="u-list u-list-1">
    <div class="u-repeater u-repeater-1">
      <div
        class="u-container-style u-list-item u-repeater-item u-white u-list-item-1"
      >
        <div
          class="u-container-layout u-similar-container u-container-layout-2"
        >
          <span
            class="u-file-icon u-icon u-icon-circle u-palette-5-light-2 u-text-palette-2-base u-icon-1"
            ><img src="images/1527217-7ea7f5b0.png" alt=""
          /></span>
          <h4 class="u-custom-font u-text u-text-1">
            Planejamento Estratégico de RH<br />
          </h4>
          <p class="u-text u-text-2">
            Nosso serviço de Planejamento Estratégico de RH visa alinhar as
            práticas de gestão de pessoas aos objetivos organizacionais, criando
            uma cultura de alto desempenho e engajamento. Focamos no
            desenvolvimento contínuo dos colaboradores, garantindo que as ações
            de RH estejam sempre conectadas aos resultados e necessidades do
            negócio.
          </p>
        </div>
      </div>
      <div
        class="u-container-style u-list-item u-repeater-item u-video-cover u-white"
      >
        <div
          class="u-container-layout u-similar-container u-container-layout-3"
        >
          <span
            class="u-file-icon u-icon u-icon-circle u-palette-5-light-2 u-text-palette-2-base u-icon-2"
            ><img src="images/4871993-abbb1986.png" alt=""
          /></span>
          <h4 class="u-custom-font u-text u-text-3">
            Design Organizacional <br />
          </h4>
          <p class="u-text u-text-4">
            Nosso serviço de Design Organizacional realiza uma análise
            estratégica para identificar e eliminar bloqueios de performance,
            otimizar fluxos de trabalho e melhorar a colaboração entre equipes.
            Com isso, buscamos impulsionar a eficiência e a eficácia
            organizacional, promovendo um ambiente mais ágil e focado em
            resultados.
          </p>
        </div>
      </div>
      <div
        class="u-container-style u-list-item u-repeater-item u-video-cover u-white"
      >
        <div
          class="u-container-layout u-similar-container u-container-layout-4"
        >
          <span
            class="u-file-icon u-icon u-icon-circle u-palette-5-light-2 u-text-palette-2-base u-icon-3"
            ><img src="images/10435989-de396283.png" alt=""
          /></span>
          <h4 class="u-custom-font u-text u-text-5">
            Desenvolvimento de Lideranças<br />
          </h4>
          <p class="u-text u-text-6">
            Criamos jornadas personalizadas que fortalecem líderes para
            sustentar o crescimento organizacional, integrando desenvolvimento
            individual, alta performance coletiva e alinhamento aos objetivos
            estratégicos do negócio.
          </p>
        </div>
      </div>
      <div
        class="u-container-style u-list-item u-repeater-item u-video-cover u-white"
      >
        <div
          class="u-container-layout u-similar-container u-container-layout-5"
        >
          <span
            class="u-file-icon u-icon u-icon-circle u-palette-5-light-2 u-text-palette-2-base u-icon-4"
            ><img src="images/12692524-5df3893d.png" alt=""
          /></span>
          <h4 class="u-custom-font u-text u-text-7">
            Mapeamento&nbsp; de Talentos <br />
          </h4>
          <p class="u-text u-text-8">
            O Mapeamento de Talentos identifica profissionais de alto potencial.
            Com metodologias estruturadas e análise de competências, fornece um
            panorama detalhado das habilidades e aspirações dos colaboradores,
            otimizando a gestão do capital humano.
          </p>
        </div>
      </div>
      <div
        class="u-container-style u-list-item u-repeater-item u-video-cover u-white"
      >
        <div
          class="u-container-layout u-similar-container u-container-layout-6"
        >
          <span
            class="u-file-icon u-icon u-icon-circle u-palette-5-light-2 u-text-palette-2-base u-icon-5"
            ><img src="images/404723-43dc86df.png" alt=""
          /></span>
          <h4 class="u-custom-font u-text u-text-9">Assessment<br /></h4>
          <p class="u-text u-text-10">
            Nosso serviço de Assessment oferece uma avaliação profunda e
            estratégica, com o objetivo de identificar competências, pontos
            fortes e áreas de desenvolvimento.&nbsp;<br />Nosso assessment
            fornece insights valiosos que ajudam a otimizar decisões, promover o
            crescimento profissional e aprimorar a performance organizacional.
          </p>
        </div>
      </div>
      <div
        class="u-container-style u-list-item u-repeater-item u-video-cover u-white"
      >
        <div
          class="u-container-layout u-similar-container u-container-layout-7"
        >
          <span
            class="u-file-icon u-icon u-icon-circle u-palette-5-light-2 u-text-palette-2-base u-icon-6"
            ><img src="images/2617778-5b3bef14.png" alt=""
          /></span>
          <h4 class="u-custom-font u-text u-text-11">Sucessão<br /></h4>
          <p class="u-text u-text-12">
            Nosso serviço identifica, desenvolve e sustenta talentos-chave,
            garantindo sucessores preparados e alinhados à cultura
            organizacional. Utilizamos uma metodologia própria para mapear
            sucessores, formalizar sua identificação e estruturar um plano de
            sucessão sustentável.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
