<!-- COMPONENT: header -->
<!-- META: description="Cabeçalho do site com logo" -->
<!-- META: dependencies="images/logo_rosa_claro.webp" -->

<header
  class="u-align-center-xs u-clearfix u-container-align-center u-header u-palette-2-dark-3 u-sticky u-sticky-1198 u-header"
  id="sec-a060"
>
  <div class="u-clearfix u-sheet u-sheet-1">
    <img
      class="u-image u-image-contain u-image-default u-image-1"
      src="images/logos/logo_rosa_claro.webp"
      alt=""
      data-image-width="485"
      data-image-height="327"
    />
  </div>
</header>
